#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  width: 400px;
  padding: 2em;
  margin: 4em;
  border: 2px solid #daa520;
  border-radius: 15px;
}

.panel {
  padding: 1em 3em;
  margin: 2em;
  text-align: left;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 5px;
}

.displayArea {
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 1em;
  margin: 2em 0;
  margin-top: 0em;
  text-align: left;
  background-color: #222020;
  border: 1px solid transparent;
  border-radius: 5px;
}

.displayArea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

@media (max-width: 900px) {
  .card {
    width: 360px;
    padding: 1.5em;
    margin: 5em 0;
  }
  .displayArea {
    min-height: 40px;
  }
}

@media (max-width: 500px) {
  .card {
    width: 75vw;
    padding: 1em;
    margin: 4em 0;
  }
  .displayArea {
    min-height: 30px;
  }
}

.footer {
  margin-top: 2em;
}

.language-dropdown-container {
  position: relative;
  margin-bottom: 1rem;
}

.language-dropdown-trigger {
  font-size: 12px;
  cursor: pointer;
  padding: 8px 12px;
  background-color: inherit;
  border-radius: 6px;
  border: 1px solid #e1e1e1;
  display: inline-block;
  user-select: none;
}

.language-dropdown-trigger:hover {
  background-color: #363030;
}

.language-dropdown-list {
  position: absolute;
  background-color: #363030;
  padding: 6px 4px;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  z-index: 1;
  top: 15%;
  right: 8%;
}


.language-dropdown-item {
  padding: 4px 15px;
  cursor: pointer;
}

.language-dropdown-item:hover {
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
}