#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1em;
  margin: 4em;
  border: 1px solid goldenrod;
  border-radius: 15px;
  max-width: 40vw;
  width: 33vw;
}

.panel {
  padding: 1em 2em;
  margin: 2em;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 5px;
}

.displayArea,
.displayArea::placeholder {
  font-size: 1em;
}

.displayArea {
  padding: 1em;
  margin: 0 auto 2em;
  text-align: left;
  background-color: #222020;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .displayArea,
  .displayArea::placeholder {
    font-size: 1.1em;
  }
  
  html {
    font-size: 12px;
  }
  
  .card {
    width: 70vw;
    max-width: 75vw;
    margin: 8em 2em;
  }
}

@media (max-width: 500px) {
  .displayArea,
  .displayArea::placeholder {
    font-size: 1.2em;
  }
  
  html {
    font-size: 12px;
  }

  .card {
    width: 80vw;
    max-width: 85vw;
    margin: 6em 0;
  }
}

.footer {
  margin-top: 2em;
}